*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-league);
}

:root{
    --magenta-900: hsl(300, 43%, 22%);
    --magenta-700: hsl(303, 10%, 53%);
    --magenta-500: hsl(300, 24%, 96%);
    --pink-100: hsl(333, 80%, 67%);
    --white: hsl(0, 0%, 100%);
    --font-league: "League Spartan", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--white);
    padding: 70px 100px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.first-section{
    display: flex;
    align-items: end;
    /* justify-content: space-between; */
    gap: 3.5rem;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-right: 50px;
    width: 50%;
}

.heading h2{
    color: var(--magenta-900);
    font-weight: 700;
    font-size: 55px;
}

.heading p{
    color: var(--magenta-900);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.stars-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stars-box{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: var(--magenta-500);
    border-radius: 5px;
    padding: 15px 40px;
}

.stars-box ul{
    list-style: none;
    display: flex;
    gap: 5px;
}

.stars-box p{
    color: var(--magenta-900);
    font-weight: 700;
    font-size: 14px;
}

#second-stars-box{
    transform: translateX(30px);
}

#third-stars-box{
    transform: translateX(60px);
    padding-right: 70px;
}

.review-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.review-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 37px;
    background-color: var(--magenta-900);
    color: var(--white);
    border-radius: 7px;
    box-shadow: 10px 10px 64px -20px rgba(0,0,0,0.31);
}

.review-profile{
    display: flex;
    align-items: start;
}

.review-profile img{
    width: 40px;
    border-radius: 50%;
    margin: 0px 20px 20px 0px;
}

.review-box p{
    font-weight: 400;
    color: var(--white);
    line-height: 20px;
    font-size: 15px;
}

.person-name{
    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

.review-box .reviewer-name{
    font-weight: 500;
    color: var(--white);
    text-transform: capitalize;
    font-size: 15px;
}

.review-box .reviewer-category{
    color: var(--pink-100);
    text-transform: capitalize;
    font-size: 15px;
}

#second-review-box{
    transform: translateY(20px);
}

#third-review-box{
    transform: translateY(40px);
}