*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-league);
}

:root{
    --magenta-900: hsl(300, 43%, 22%);
    --magenta-700: hsl(303, 10%, 53%);
    --magenta-500: hsl(300, 24%, 96%);
    --pink-100: hsl(333, 80%, 67%);
    --white: hsl(0, 0%, 100%);
    --font-league: "League Spartan", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--white);
    padding: 70px 80px;
}

.container{
    display: flex;
    flex-direction: column;
}

.first-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.heading h2{
    color: var(--magenta-900);
    font-weight: 700;
    font-size: 50px;
}

.heading p{
    color: var(--magenta-900);
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.stars-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.stars-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: var(--magenta-500);
    border-radius: 5px;
    padding: 10px 20px;
}

.stars-box ul{
    list-style: none;
    display: flex;
    gap: 5px;
}

.stars-box p{
    display: inline;
}