*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green-100: hsl(75, 94%, 57%);
    --white-100: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --primary-font: "Inter", sans-serif;
}

body{
    background-color: var(--grey-900);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}