*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --green-100: hsl(75, 94%, 57%);
    --white-100: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --primary-font: "Inter", sans-serif;
}

body{
    background-color: var(--grey-900);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--grey-800);
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    font-family: var(--primary-font);
    border-radius: 17px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    border-radius: 50%;
    width: 75px;
    margin: 15px 0px;
}

header h2{
    color: var(--white-100);
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px;
}

header h4{
    color: var(--green-100);
    font-size: 14px;
    font-weight: 700;
}