*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navy-950: hsl(233, 47%, 7%);
    --blue-950: hsl(244, 37%, 16%);
    --violet-500: hsl(277, 64%, 61%);
    --white-100: hsl(0, 0%, 100%);
    --white-200: hsla(0, 0%, 100%, 0.75);
    --white-300: hsla(0, 0%, 100%, 0.6);

    --font-inter: "Inter", sans-serif;
    --font-lexend: "Lexend", sans-serif;
}

body{
    background-color: var(--navy-950);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--blue-950);
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.container img{
    width: 100%;
    order: 2;
}

.container-content{
    display: flex;
    flex-direction: column;
    padding: 50px 70px 50px 50px;
    color: var(--white-100);
}
