*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --navy-950: hsl(233, 47%, 7%);
    --blue-950: hsl(244, 37%, 16%);
    --violet-500: hsl(277, 64%, 61%);
    --white-100: hsl(0, 0%, 100%);
    --white-200: hsla(0, 0%, 100%, 0.75);
    --white-300: hsla(0, 0%, 100%, 0.6);

    --font-inter: "Inter", sans-serif;
    --font-lexend: "Lexend", sans-serif;
}

body{
    background-color: var(--navy-950);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--blue-950);
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.container img{
    width: 100%;
    order: 2;
}

.container-content{
    display: flex;
    flex-direction: column;
    padding: 50px 70px 50px 50px;
    color: var(--white-100);
}

.first-section h2{
    font-family: var(--font-lexend);
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.text-section p{
    line-height: 1.6;
    font-family: var(--font-inter);
    color: var(--white-200);
    font-size: 14px;
    margin-bottom: 4rem;
}

.first section .violet-text{
    color: var(--violet-500);
}

.stadistics-section{
    font-family: var(--font-lexend);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* gap: 4rem; */
}

.stadistic-item{
    display: flex;
    flex-direction: column;
}

.stadistics-section p{
    font-family: var(--font-inter);
    text-transform: uppercase;
    font-size: 10px;
    color: var(--white-300);
    margin-top: 3px;
    letter-spacing: 1.25px;
}

.stadistics-section h3{
    font-family: var(--font-inter);
    font-size: 18px;
    color: var(--white-200);
}
