*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --purple-700: hsl(257, 40%, 49%);
    --magenta-400: hsl(300, 69%, 71%);
    --font-poppins: "Poppins", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 1450px;
    display: flex;
    flex-direction: column;
    background-color: var(--purple-700);
    position: relative;
    overflow: hidden;
    padding: 0px 50px;
}

.bg-pc{
    position: absolute;
    inset: 0;
    padding: 0px 50px;
    z-index: 1;
}

.bg-mobile{
    display: none;
}

.container-content{
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 50px;
}

.logo-brand img{    
    margin-top: 100px;
}

