*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);
    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-outfit: "Outfit", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--blue-950);
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    font-family: var(--font-outfit);
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
}

p{
    font-family: var(--font-outfit);
    color: var(--blue-500);
    font-weight: 300;
    font-size: 20px;
}

.container{
    width: 400px;
    background-color: var(--blue-900);
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 10px;
    overflow: hidden;
    gap: 1.5rem;
}