*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);
    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-outfit: "Outfit", sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--blue-950);
    display: flex;
    align-items: center;
    justify-content: center;
}